/* 
CSS Rules
syntax:  ;
selector{
	property:  value;
}
*/
/*h1{
	color: yellow !important;
}*/


/* 1. universal selsector (lowest) */
/* change the font of every element in HTML */

*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*the "*" symbol is a "universal selector" and is used to target all elements*/

/*the "font-family" property changes the style of thef fon*/
/*the value "courier new" is used as the primary font and the value of "monospace"is used as a secondary
font when a browser is unable to use the primary font*/
/*the value "20px" refers to 20 pixels in size*/

/*2. TYPE selector*/

body {
	background-color: skyblue;
}
/*the background color property changes the background color of an element*/

/*Attribute Selector*/
/* The attribute selector only works based on the exact attribute syntax provided in the HTML
it"s also case sensitive */

input[required] {
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    width: 90%;
}

/*Class Selector*/
/*The "class attribute" is used to target elements with ismilar styling.
this is good approach to use for elements that have similar styles across the whole application*/
.offering-item{
	text-transform: uppercase;
}

/*the "text-transform" property changes font to a certain case*/
/* the value "upper case" change the text to all capitalized letter */

#zuitt-motto {
	letter-spacing: 5px;
}

/*the "id" attribute is used to target elements with unique
styling. THis is a good approach to use for elements that shoud have their own style
across the wole application*/
/* The "letter-spacing" property changes the spaces in between characters of a text .*/






h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
h2 ~ a, a{
	text-decoration: none;
}

/*CHild Selector*/
/*
Syntax: 

selector1 >selector2 {
	style:  properties;
}



*/

body > section > form > label {
	color: rgb(0,0,128);
}


/*Descendant Selectors*/

/*
Syntax
*/
#bootcamp-learning-list {
	color:  #075966;
}


/*wHOLE html*/
html {
	scroll-behavior: smooth;

}

nav {
	background-color: white;
}

/*Selector:  Hover Pseudo Class*/
/*Change the styple when hovered over*/
a:hover {
	background-color: #b4d6de;
}

/*DIV for navigation bar*/
div {
	display: inline-block;
	float: right;
}

/*landing section*/
section {
	height: 100uh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

/*remove numbers from list*/
ol {
	list-style-type: none;
}

/*Register Section/form*/
form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}