*{
	font-family: "Verdana, Sans Serif", monospace;
	font-size: 20px;
}

h1 {
	font-size: 20px;
}

h2{
	text-transform: uppercase;
}

nav {
	background-color: yellowgreen;
}

h4 {
	
	border-radius: 10px;
}

img {
	

	background-color: yellow;
	height: 300px;
	width: 300px;
	border-radius: 150px;

}

#img {
	
}
#spacing {
	letter-spacing: 10px;
}

